<div class="home">
  <div class="container">

    <a routerLink="/" class="homeicon"><button mat-icon-button aria-label="close mat-card-close" mat-card-close>
      <mat-icon>home</mat-icon>
      </button></a> 

      <form #form="ngForm" (ngSubmit)="form.valid && onSubmit()">
          <h1 style="color:rgb(233, 17, 17) ;font-size:bold">Make your posts..</h1>
        
          <div>
            <label for="title">Title :</label>&nbsp;
            <input  type="text" name="name" id="name" required class="form-control" #title="ngModel"[(ngModel)]="model.title">
          </div>
          <div>
              <label for="file">Image/Video :</label>&nbsp;
              <input type="file" name="file" id="file" required class="form-control" #file="ngModel"[(ngModel)]="model.file">
            </div>
          <label for="description">Description :</label>
          <ckeditor
            #editor
            id="description"
            name="description"
            required class="form-control"
            #file="ngModel"
            [(ngModel)]="model.description"
            >
          </ckeditor>
          <div>
            <label for="authorname">Authuor Name :</label>&nbsp;
            <input type="text" name="auth_name" id="auth_name" required class="form-control" #authorname="ngModel"[(ngModel)]="model.authorname">
          </div>
          
          <br>
          <button type="submit"class="btn btn-info">Submit</button> 
      </form>
</div></div>



