<nav class="navbar navbar-expand-lg navbar-light bg-nav">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <!-- <a class="navbar-brand" href="#"><img src="../../../assets/images/techblog-logo-header.png" alt=""></a> -->
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      <li class="nav-item mr-5 mt-2 navlink"><a routerLink="/">
      Home </a></li>
      <li class="nav-item mr-5 mt-2 navlink"><a routerLink="/signup">
        SignUp </a></li>
      <!--  <li  class="nav-item mr-3 mt-2 navlink"><a routerLink="/">Logout</a></li> -->
      <li class="nav-item mr-5 mt-2 navlink"><a routerLink="/login">
          LogIn </a></li>
    </ul>

  </div>
</nav>


<div class="bg-body">
<br><br>
<div class="text-center head">ALL BLOGS</div>  
<div class="container-fluid bg" >

<div class="child text-center" *ngFor='let i of posts'>
<div class="card mb-5 shadow-sm" data-aos="fade-up" >
  <div class="inner">
  <img [src]="i.file" class="img-fluid" alt="">
  </div>
  <div class="card-body">
  <h2>{{i.title}}</h2>
  
  <div class="card-text">
  
  <h3>{{i.userName}}</h3>
  <p>{{i.date1}}</p>
 <a routerLink="/singleviewpage" (click)="singleBlog(i)" style="margin-top: 2%; cursor: pointer;"><button class="btn btn-sm">ReadMore</button></a>
  </div>
</div>
    
</div>
</div></div></div>
