.bg-body{
  /* background-color: #95e3d0; */
  background-color:lightgoldenrodyellow;

  
}
.bg-nav{
  background-color:lightgoldenrodyellow;

  padding: 25px;
}
.container-fluid{
display: grid;
grid-template-columns: repeat(2,1fr);
grid-column-gap: 10%;
grid-row-gap: 10px;

}
.head{
text-align: center;
font-weight:800;
color:black;
font-size:35px;
font-family:monospace;
text-transform: uppercase;


} 
.child .card{
margin-top: 10%;
border: 3px solid whitesmoke;
border-right-style: solid;
font-weight: 500;
font-size:medium;

}
.navlink a{
  text-decoration: none;
  font-size:15px;
  font-weight: 600;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  color: black;
}
.navlink a:hover{
  transition: all 0.25s ease-out;
  color:crimson;
}
.btn:hover{
  
    transition: all 0.5s ease-in;
    border-top-right-radius: 20px;
    cursor: pointer;
    background-color: white;

}
.card-body{
  background-color: #43d2c9;
  color: white;
}
.btn-sm{
  background-color:rgb(194, 241, 255);
}
.card{
  border-top-right-radius:30px ;
}
