
.container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  
  
}
.centering{
  display:flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
}
.mat-card{
  padding: 50px;
  
}


  h3{
    text-align: center;
    color: #ff666f;;
  }
  .link{
    color: black;
}
.link:hover{
  color: blue;
  
}
  
    .mat-card{
      background-color:whitesmoke;
      border: 2px solid rgb(236, 77, 141);
      border-radius: .5rem;
      }
    .mat-form-field{
      width: 100%;
      
    }
    
    .radio{
      font-size: small;
    }