<section class="w3l-header-6-main mobile-header">
    <div class="header-section-hny">
        <div class="header-top">
<div class="container">
    <!-- /header-top-inn-->
    <div class="header-inn-top row">
        <div class="logo-brand col-6">
            <a class="navbar-brand" href="index.html">
                <img src="../../../assets/images/techblog-logo-header.png" alt="" title="Webzine" width="100%" height="50px" class="img-fluid" />
            </a>
        </div>
        <div class="menu-overlay-left col-6 ml-auto">
            <div class="two-pops d-flex">
               <a class="author-user mr-3" routerLink="/signup" mat-raised-button><span class="fa fa-user-plus"
                aria-hidden="true"></span></a> 
          
                        <a class="author-user" routerLink="/login" mat-raised-button><span class="fa fa-user"
                            aria-hidden="true"></span></a>
            </div></div></div></div>

</div><header class="header-hny-block">
    <div class="container">
         <!-- /.nav-collapse -->
         <nav class="navbar navbar-expand-lg navbar-light">
              
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mr-lg-auto">
                   
                        
                        <li class="nav-item">
                                <a class="nav-link" href="lifestyle.html">Home</a>
                        </li>
                        <li class="nav-item">
                             <a class="nav-link" routerLink="/footer">Contact</a>
                        </li>
                       
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                               All Categories</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="categorylist">ICTAK Events</a>
                                <a class="dropdown-item" href="categorylist">KKEM</a>
                            </div>
                        </li>
                    </ul>
                    <div class="social-right">
                            <ul class="social-icons-top">
                                <li><a class="facebook" href="#"><span class="fa fa-facebook"
                                            aria-hidden="true"></span></a>
                                </li>
                                <li><a class="twitter" href="#"><span class="fa fa-twitter"
                                            aria-hidden="true"></span></a></li>
                                <li><a class="google" href="#"><span class="fa fa-google-plus"
                                            aria-hidden="true"></span></a>
                                </li>
                                <li><a class="instagram" href="#"><span class="fa fa-instagram"
                                            aria-hidden="true"></span></a>
                                </li>
                            </ul>
                        </div>
                </div>
            </nav>
        </div>
        <!-- /.nav-collapse -->
</header></div></section>
<app-innerfooter></app-innerfooter>