<!-- <mat-form-field appearance="standard">
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
      <td mat-cell *matCellDef="let row"> {{row.id}} </td>
    </ng-container>

    <ng-container matColumnDef="progress">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Progress </th>
      <td mat-cell *matCellDef="let row"> {{row.progress}}% </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let row"> {{row.name}} </td>
    </ng-container>

    <ng-container matColumnDef="fruit">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Fruit </th>
      <td mat-cell *matCellDef="let row"> {{row.fruit}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</div> -->
<!-- <div class="container"> -->
  
  <div class="container">
<table>
  <thead>
    <th>Sl. No</th>
    <th>Blog Title</th>
    <th>Blog File</th>
    <th>Author Name</th>
    <!-- <th>Description</th> -->
    <th>Date</th>
    <th>Actions</th>
  </thead>
    <tbody>
        <!-- <tr>Hello</tr> -->
        <tr *ngFor="let blog of Blogs;let i = index; ">
            <td>{{i+1}}</td>
            <td>{{blog.title}}</td>
            <td>{{blog.file}}</td>
            <td>{{blog.authorname}}</td>
            <!-- <td>{{book.description}}</td> -->
            <td>{{blog._id}}</td>
            <td> 
              <!-- <mat-chip-list aria-label="Fish selection"> -->
              <a [routerLink]="['admin-single-blog-page', blog._id]">View</a>
<!-- </mat-chip-list> -->

              <!-- <a class='btn btn-info btn-xs' href="#"><span class="glyphicon glyphicon-edit"></span> Edit</a>
              <a href="#" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span> Del</a> -->
            </td>
        </tr>
    </tbody>
</table>
<!-- <mat-paginator [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]"
              aria-label="Select page">
</mat-paginator> -->
<mat-paginator [length]="length1"
               [pageSize]="pageSize"
               [pageSizeOptions]="pageSizeOptions"
               aria-label="Select page">
</mat-paginator>

</div>
<router-outlet></router-outlet>
