
  <nav class="menum navbar navbar-expand-md justify-content-center fixed-top nave">
    <div class="container">
    <div class="navbar-collapse collapse justify-content-between align-items-center w-100" id="collapsingNavbar2">
      <ul class="navbar-nav mx-auto text-center">
        <li class="nav-item active topBotomBordersOut">
          <a class="nav-link" routerLink="/">Home</a>
        </li>
        <li class="nav-item topBotomBordersOut"> <a class="nav-link" >Portfolio</a> </li>
        <li class="nav-item topBotomBordersOut"> <a class="nav-link" >Blog</a> </li>
        <div class="dropdown">
          <li class="nav-item topBotomBordersOut"> <a class="nav-link" >Categories</a> </li>
          <div class="dropdown-content">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
          </div>
        </div>
        <li class="nav-item topBotomBordersOut"><a class="nav-link" routerLink="/login">Login</a></li>
        <li class="nav-item topBotomBordersOut"> <a class="nav-link" routerLink="/signup">SignUp</a> 
        <li class="nav-item topBotomBordersOut"> <a class="nav-link" >Contact</a> 
        </li>
      </ul>
    </div>
    </div>   
  </nav>

  <div>
    <app-footer></app-footer>
  </div>