
.bg-nav{
    background-color:rgb(244 191 28);
    padding: 25px;
  }


.navlink a{
    text-decoration: none;
    font-size:15px;
    font-weight: 600;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    color: black;
  }
  .navlink a:hover{
    transition: all 0.25s ease-out;
    color: white;
  }
  .box{
    margin-top:15%;
  }
  .card-body{
    line-height: 1cm;
    
    color: maroon;
    background-color: bisque;
    text-align: left;
  }
  .para{
    text-align: center;
    font-size: larger;
    font-weight: bold;
  }
  p{
    font-style: italic;
    text-align: center;
  }