.commonstyle{
    font-size:large;
    color:deeppink;
    
    
}
.db{
    color: black;
}
.butn:hover{
    transition: all 0.5s ease-in;
      border-top-right-radius: 25px;
      cursor: pointer;
  }
  .card-header{
    text-align: center;
    font-weight:550;
    color: orangered;
  }
  p{
    font-style: italic;
  }
  .card-body{
    text-align: left;
    line-height: 1cm;
    color: darkgoldenrod;
  }