<div class=" form1">
    <mat-tab-group mat-align-tabs="start">
     <mat-tab  label ="LogIn"><br>
       <mat-card class="logincard">
   
      <form [formGroup] ='loginForm' (ngSubmit)= onsubmitlogin(loginForm)>
         <mat-form-field appearance="outline">
           <mat-label>Email</mat-label>
           <input matInput placeholder="Enter your email" formControlName="email">
           <mat-error *ngIf = "login?.['email']?.errors?.['email'] && submitted">Invalid email</mat-error>
           <mat-error *ngIf = "login?.['email']?.errors?.['required'] && submitted">Required email</mat-error>
           </mat-form-field> 
   
           <mat-form-field appearance="outline">
             <mat-label>Password</mat-label>
             <input matInput placeholder="Enter your password" [type]="hide?'password':'text'" formControlName="password">
             <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
               <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
             </button>
             <mat-error *ngIf = "login?.['password']?.errors?.['password'] && submitted">Invalid password</mat-error>
             <mat-error *ngIf = "login?.['password']?.errors?.['required'] && submitted">Required password</mat-error>
           </mat-form-field><br>
           <mat-dialog-actions>
            <button class="btn" mat-raised-button color="accent">Submit</button>
            <button class="btn" mat-raised-button color="warn" mat-dialog-close>Close</button>
          </mat-dialog-actions>
            
           </form>
         </mat-card>
        </mat-tab>
   <!-- signup form -->
    
     <mat-tab label="SignUp">
       <mat-card class=" signup">
         <form [formGroup] ='signupForm' (ngSubmit)= onsubmitsignup(signupForm)>
   
           <mat-form-field appearance="outline">
           <mat-label>Firstname</mat-label>
           <input matInput placeholder="Enter your name" formControlName="firstname">
           <mat-error *ngIf = "signup?.['firstname']?.errors?.['required'] && submittedsignup">Required first name</mat-error>
           </mat-form-field>
   
           <mat-form-field appearance="outline">
           <mat-label>Lastname</mat-label>
           <input matInput placeholder="Enter your name" formControlName="lastname">
           <mat-error *ngIf = "signup?.['lastname']?.errors?.['required'] && submittedsignup">Required last name</mat-error>
           </mat-form-field>
           <br>
           <mat-radio-group aria-label="Select an option"formControlName="user">
             <mat-radio-button value="student">Student</mat-radio-button>
             <span style="margin: 5px;"></span>
             <mat-radio-button value="trinee">Trainee</mat-radio-button>
           </mat-radio-group>
           <br>
   
           <mat-form-field appearance="outline">
             <mat-label>Email</mat-label>
             <input matInput placeholder="Enter your email" formControlName="email">
             <mat-error *ngIf = "signup?.['email']?.errors?.['email'] && submittedsignup">Invalid email</mat-error>
             <mat-error *ngIf = "signup?.['email']?.errors?.['required'] && submittedsignup">Required email</mat-error>
             </mat-form-field>
   
             <mat-form-field appearance="outline">
             <mat-label>Password</mat-label>
             <input matInput placeholder="Enter your password" [type]="signuphide?'password':'text'" formControlName="password">
             <button mat-icon-button matSuffix (click)="signuphide = !signuphide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="signuphide">
             <mat-icon>{{signuphide ? 'visibility_off' : 'visibility'}}</mat-icon>
             </button>
             <mat-error *ngIf = "signup?.['password']?.errors?.['password'] && submittedsignup">Invalid password</mat-error>
             <mat-error *ngIf = "signup?.['password']?.errors?.['required'] && submittedsignup">Required password</mat-error>
           </mat-form-field>
   
           <mat-form-field appearance="outline">
             <mat-label>Confim Password</mat-label>
             <input matInput placeholder="Enter your password" [type]="signuphide?'password':'text'" formControlName="confirmpassword">
             <button mat-icon-button matSuffix (click)="signuphide = !signuphide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="signuphide">
               <mat-icon>{{signuphide ? 'visibility_off' : 'visibility'}}</mat-icon>
             </button>
             <mat-error *ngIf = "signup?.['confirmpassword']?.errors?.['confirmpassword'] && submittedsignup">Invalid password</mat-error>
             <mat-error *ngIf = "signup?.['confirmpassword']?.errors?.['required'] && submittedsignup">Required password</mat-error>
             <mat-error *ngIf = "signup?.['confirmpassword']?.errors?.['passwordMismatch']&& submittedsignup">Mismatched password</mat-error>
           </mat-form-field>

           <mat-dialog-actions>
            <button class="btn" mat-raised-button color="accent">Submit</button>
            <button class="btn" mat-raised-button color="warn" mat-dialog-close>Close</button>
           </mat-dialog-actions>
            
           </form>
        </mat-card>   
     </mat-tab>
     </mat-tab-group>
   </div>
