.form1 {
  width:50%;
  height:440px;
  position: relative;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
}


.btn{
    position: relative;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .mat-card{
    background-color:whitesmoke;
    border: 2px solid rgb(236, 77, 141);
    border-radius: .5rem;
    
    }
  .mat-form-field{
    width: 100%;
    
  }
  /* .signup{
    background-color:whitesmoke;
    border: 2px solid rgb(236, 77, 141);
    border-radius: .5rem;
    
  } */
  