<div class="container mb-5">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-5">
        <div class="card-body text-center bg-orange">
          <i class="fa-solid fa-square-plus"></i>
        </div>
        <div class="card-footer bg-footer">
          <h2>create Blog</h2>
        </div>
      </div>
      <div class="col-md-5">
        <div class="card-body text-center bg-purple">
          <i class="fa-solid fa-rectangle-list"></i>
        </div>
        <div class="card-footer bg-footer">
          <h2>View Blogs</h2>
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>


    <div class="row mt-5">
      <div class="col-md-1"></div>
      <div class="col-md-5">
        <div class="card-body text-center bg-green">
          <i class="fa-solid fa-unlock-keyhole "></i>
        </div>
        <div class="card-footer bg-footer">
          <h2>Change Password</h2>
        </div>
      </div>
      <div class="col-md-5">
        <div class="card-body text-center bg-navyblue">
          <i class="fa-solid fa-right-from-bracket"></i>
        </div>
        <div class="card-footer bg-footer">
          <h2>Logout</h2>
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
