
<nav class="navbar navbar-expand-lg navbar-light bg-nav">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <!-- <a class="navbar-brand" href="#"><img src="../../../assets/images/techblog-logo-header.png" alt=""></a> -->
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
        <li class="nav-item mr-5 mt-2 navlink"><a routerLink="/">
        Home </a></li>
        <li class="nav-item mr-5 mt-2 navlink"><a routerLink="/singlepage">
        All blogs</a></li>
        <li class="nav-item mr-5 mt-2 navlink"><a routerLink="/signup">
          SignUp </a></li>
        <!--  <li  class="nav-item mr-3 mt-2 navlink"><a routerLink="/">Logout</a></li> -->
        <li class="nav-item mr-5 mt-2 navlink"><a routerLink="/login">
            LogIn </a></li>
      </ul>
  
    </div>
  </nav>
  
  
   <div class="bg-body">
  <br><br>
  <div class="text-center head">ALL BLOGS</div> 
  <div class="container-fluid bg m-top" >
  <div class="card">
    <div class="card-image">
      <img class="" src="https://img.freepik.com/vecteurs-libre/portrait-abstrait-design-plat-dans-style-artistique_23-2149123797.jpg?t=st=1659428436~exp=1659429036~hmac=3b06ab791fa57b831cae6318b7000247f282249652290cc19df86e6953f232d4" alt="">
    </div>
    <div class="card-content">
      <div class="card-text">
       <div class="cardtitle">
          Card title
        </div>
        <div class="cardsentence">
          date
        </div>
        <div class="button btn btn-lg">Read More...</div>
      </div>
    </div>
  </div>
</div> 

 </div> 

 



  
  <footer>
    <div class="copyright-area">
      <div class="container">
          <div class="row">
              <div class="col-xl-6 col-lg-6 text-center text-lg-left">
                  <div class="copyright-text">
                      <p>Copyright &copy;2022 ICT Academy of Kerala.  All rights reserved. </p>
                  </div>
              </div>
              <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
                  <div class="footer-menu">
                      <ul>
                          <li><a routerLink="/">Home</a></li>
                          <li><a routerLink="/footer">Contact</a></li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
  </footer>