*{
  text-decoration: none;
}
mat-sidenav{
  background-color: #0F172A;
  width:230px;
  height: 100%;
}
mat-sidenav-content{
  height:100vh;
}
.main{
  margin-left: 30px;
}
mat-toolbar{
  
      color: gray;
  
  
}
.box{
  margin-top: 15px;
}
.box mat-icon{
  justify-content:right;
}

 .tp-container {
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   background: #eee;
}
 .tp-section mat-icon{
   color:white;
}
.tp-section span{
  color:white;
}
.tp-section {
   display: flex;
   align-content: center;
   align-items: center;
   width:100%;   
}
.settings-icon{
  justify-content: space-between;
}


/* student trainer dashboard css */
.bg-footer{
  background-color:powderblue ;
}
 .bg-navyblue{
  background-color:rgb(251, 166, 208);
}
.bg-purple{
  background-color:rgb(137, 188, 240) ;
}
.bg-green{
  background-color: coral;
}
.bg-orange{
  background-color:rgb(186, 160, 239) ;
}
.fa-square-plus,.fa-unlock-keyhole,.fa-right-from-bracket,.fa-rectangle-list{
  font-size: 125px;
  color: white;
} 

/* admin dashboard css*/


 .bg-1{
background-color: aquamarine;
}
.bg-2{
  background-color: rgb(251, 166, 208);
}
.bg-3{
  background-color: rgb(137, 188, 240);
}
.bg-4{
  background-color: coral;
}
.bg-5{
  background-color:rgb(186, 160, 239);
}
.bg-6{
  background-color: rgb(139, 237, 160);
}
.fa-id-card,.fa-thumbs-up,.fa-xmark,.fa-battery-full,.fa-battery-half,.fa-key{
  font-size: x-large;
} 