
<footer class="mainfooter" role="contentinfo">
    <div class="footer-middle">
    <div class="container">
      
          <div class=" text-center">
              <h4>Follow Us</h4>
              
              <p>
                GF-1 Thejaswini Building, Technopark Rd, Thiruvananthapuram, Kerala 695581<br>

                ICT Academy of Kerala is supported by Govt. of India , partnered by Govt. of Kerala and the IT industry.<br>
                
                
              </p>
        
              <ul class="social-network social-circle">
               <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
               <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
              </ul>				
          </div>
    
      <div class="row">
          <div class="col-md-12 copy">
              <p class="text-center">&copy; Copyright 2022 - ICT Academy of Kerala.  All rights reserved.</p>
          </div>
      </div>
  
  
    </div>
    </div>
  </footer>
    

