.commonstyle{
    font-size:large;
    color:deeppink;
    
    
}
.db{
    color: black;
}
.butn:hover{
    transition: all 0.5s ease-in;
      border-top-right-radius: 25px;
      cursor: pointer;
  }
  .card-header{
    text-align: center;
    font-weight:550;
    color: #ff666f;
  }
  /* p{
    font-style: italic;
  } */
  .card-body{
    text-align: left;
    line-height: 1cm;
    color: #000;
  }
  .card{
    /* border: 1px solid #000; */
    border: none;
  }

  /* footer{
    background-color:rgb(244, 235, 235);
    margin-left: -30px;
    margin-bottom: -20px;
    margin-top: 20px;
  }
  footer p {
    padding: 20px 0;
    text-align: center;
    color: gray;
    
  } */
/*   
  footer img {
    width: 44px;
  } */
  footer{
    background-color:#f5f5f5;
    margin-left: -30px;
    margin-bottom: -15px;
    margin-top: 20px;
    bottom: 0;
    position: fixed;
    width: 100%;
  }
  footer p {
    padding: 20px 0;
    text-align: center;
    color: gray; 
  }
  .container{
    margin-bottom:100px;
  }
  